html {
    font-size: 12px;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    color: #333;
    background-color: #f4f5f5;
    user-select: none;
}

body {
    font-size: 12px;
    line-height: normal;
    background-color: rgb(244,245,245);
}

div {
    display: block;
}

.main-container.with-view-nav>.view {
    margin-top: 4.67rem;
}

.entry-list-container {
    background-color: #fff;
}

.list-header {
    padding: 1.3rem 1rem;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}