.main-header-box {
	position: relative;
	height: 5rem;
}

.container1 {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-header {
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 5rem;
    z-index: 250;
    transform: translate3d(0,-100%,0);
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s;
}

.main-header .container1 {
    margin: auto;
    max-width: 1440px;
}

@media screen and (max-width: 1149px){
    .container1 {
        width: 97%;
        margin: 0 2rem!important;
    }
}

.container1:after {
    display: table;
    content: "";
    clear: both;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}

a, button, input {
    margin: initial;
}

/*大logo大小设置*/
.logo_big {
	width: 107px;
	height: 22px;
}

.logo_min {
    display: none;
    width: 31px;
    height: 2rem;
}

img {
    border-style: none;
}

@media (max-width: 640px){
    .logo_big {
        display: none;
    }
}

@media (max-width: 640px){
    .logo_min {
        display: block;
        height: 2rem;
    }
    .logo {
        margin-bottom: 10px;
    }
}

.logo {
	height:22px;
	width: auto;
	margin-left: 24px;
	margin-right: 1rem;
	display: inline-block;
}

@media screen and (max-width: 1149px){
    .logo {
        margin-left: 0;
    }
}

.main-nav {
    height: 100%;
    flex: 1 0 auto;
}

.article_nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: row-reverse;
    height: 100%;
    margin: 0;
}

/*左边ul设置样式*/


@media (max-width: 1149px){
    .article_nav-list {
        justify-content: flex-end;
        flex-direction: row;
    }
}

@media (max-width: 1149px){
    .main-nav-list {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 1;
    }
}

@media screen and (max-width: 1190px) and (min-width: 1070px){
    .phone-show-menu.isResourceVisible {
        height: 5rem;
        display: flex;
        align-items: center;
        color: #1e80ff;
        font-size: 1.33rem;
        justify-content: center;
        padding: 0;
        width: 5.66rem;
    }
}

.phone-show-menu {
    cursor: pointer;
    display: none;
}

.unfold16-icon {
    fill: #515767;
    transform: rotate(0deg);
    transition: transform .2s ease-in-out;
}

.phone-show-menu .unfold16-icon {
    width: 12px;
    height: 12px;
}

@media (max-width: 1149px){
    .phone-show-menu {
        height: 5rem;
        display: flex;
        align-items: center;
        color: #1e80ff;
        font-size: 1.33rem;
        justify-content: center;
        padding: 0;
        width: 5.66rem;
    }
}

@media screen and (max-width: 1190px) and (min-width: 1070px){
    .phone-show-menu.isResourceVisible span {
        margin-right: .333rem;
    }
}

@media screen and (max-width: 1190px) and (min-width: 1070px){
    .phone-hide.isResourceVisible {
        display: none;
        background-color: #fff;
        box-shadow: 0 8px 24px rgba(81,87,103,.16);
        border: 1px solid #ebebeb;
        border-radius: 4px;
        font-size: 1.2rem;
    }
}

.phone-hide {
	display: flex;
    padding: 0;
}

@media (max-width: 1149px){
    .phone-hide {
        display: none;
        background-color: #fff;
        box-shadow: 0 8px 24px rgba(81,87,103,.16);
        border: 1px solid #ebebeb;
        border-radius: 4px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1149px){
    .phone-show-menu.isResourceVisible span {
        margin-right: .333rem;
    }
}

@media screen and (max-width: 1190px) and (min-width: 1070px){
    .phone-hide.isResourceVisible.show {
        display: block;
        position: absolute;
        right: -4rem;
        left: -4.3rem;
        padding: .667rem;
        width: 11.9rem;
        top: 52px;
        z-index: 1;
    }
}

@media (max-width: 1149px){
    .phone-hide.show {
        display: block;
        position: absolute;
        right: -4rem;
        left: -4.3rem;
        padding: .667rem;
        width: 11.9rem;
        top: 52px;
    }
}

@media (max-width: 640px){
    .phone-show-menu {
    height: 4.333rem;
}
}

.phone-hide .nav-item.link-item a:not(.no-hover) {
    display: inline-block;
    height: 5rem;
    margin: 0 1rem;
    line-height: 5rem;
}

.phone-hide a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.563)
}

.nav-item.active, .nav-item.active>a {
    color: #1e80ff;
    font-weight: 500;
}

.phone-hide a:hover {
	border-bottom:#1e80ff solid 3px;
	color: rgb(10, 11, 14);
} 

.main-nav-list {
    display: flex;
    order: 99;
}

.nav-item.link-item {
    padding: 0;
    height: 5rem;
}

.nav-item {
    position: relative;
    color: #86909c;
    padding: 0 1rem;
    font-size: 1.167rem;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-item>a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*右边设置*/
@media (max-width: 1149px){
    .right-side-nav {
        margin-right: 1.667rem;
    }
}

@media (max-width: 1149px){
    .search-add {
        margin-right: .292rem;
    }
}

.right-side-nav {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: relative;
    height: 100%;
    margin: 0;
    order: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.search-add {
    flex: 1 1 auto;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1069px){
    .search-add-ul {
        width: 32.667rem;
    }
}

@media screen and (max-width: 1350px){
    .search-add-ul {
        width: 27.083rem;
    }
}

.search-add-ul {
    display: flex;
    justify-content: flex-start;
}

.nav-item.search {
    cursor: auto;
    padding-left: 0;
}

.nav-item {
    position: relative;
    cursor: pointer;
}

/*搜索框*/
.search-form {
    background-color: #fff;
    border: 1px solid #c2c8d1;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    height: 2.834rem;
    width: 260px;
    transition: width .2s;
}

.search-form .search-input {
    border: none;
    width: calc(100% - 44px);
    padding: .6rem 0 .6rem 1rem;
    box-shadow: none;
    outline: none;
    font-size: 1.1rem;
    color: #8a919f;
    background-color: transparent;
    transition: width .3s;
}

.search-form .search-icon-container{
    position: relative;
    left: -2px;
    width: 44px;
    height: 30px;
    background: #f2f3f5;
    border-radius: 2px;
}

.search-img {
    display: inline-block;
    width: 1.33rem;
    padding: 0 .8333rem 0 0;
    cursor: pointer;
    margin: 7px 15px;
}

@media (max-width: 799px){
    .nav-item.search {
        padding-left: 4.133rem;
    }
}

@media screen and (max-width: 799px){
    .search-add-ul {
        width: 29.334rem!important;
    }
}

@media screen and (max-width: 1069px){
    .search-add-ul{
        width: 32.667rem;
    }
}

@media screen and (max-width: 1350px){
    .search-add-ul {
        width: 27.083rem;
    }
}

@media (max-width: 799px){
    .search-form {
        transition: width .2s ease-in;
    }
}

@media screen and (max-width: 799px){
    .search-form {
        width: 220px;
    }
}

@media screen and (max-width: 1069px){
    .search-form {
        width: 240px;
    }
}

@media screen and (max-width: 1350px){
    .search-form {
        width: 180px;
    }
}

@media (max-width: 640px){
    .search-add-ul {
        width: 220px;
    }
}

@media (max-width: 640px){
    .search-add-ul {
        width: 22.667rem!important;
    }
}

/*创作者中心*/
.nav-item.add.creator-item {
    overflow: visible;
    width: 11rem;
    padding-left: 5px;
}

.nav-item.add {
    cursor: default;
    width: 25rem;
    transition: width .3s;
    overflow: hidden;
    padding-left: 0;
}

.add-group {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 115px;
    height: 3rem;
}

.add-group .add-btn {
    padding: 0 1rem;
    font-size: 1.167rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    white-space: nowrap;
}

.add-group .add-btn:hover {
    background-color: #0060dd;
}

.add-group .more {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.667rem;
    border-left: 1px solid hsla(0,0%,100%,.1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
}

.add-group .add-btn, .add-group .more {
    height: 100%;
    color: #ffffff;
    background-color: #1e80ff;
    border-radius: 3px;
    transition: background-color .1s linear .05s;
}

.add-group.active .head_more_list {
    display: block;
}

.add-group .head_more_list {
    position: absolute;
    top: 120%;
    left: -7px;
    right: 0;
    padding: .417rem 0;
    font-size: 1.167rem;
    color: #515767;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 24px rgba(81,87,103,.16);
    border-radius: 6px;
    width: 10rem;
}

.add-group .head_more_list .item {
    margin: 0 8px;
    padding: 6px 5px 5px .8rem;
    border-radius: 4px;
    line-height: 24px;
    font-weight: 400;
}

.add-group .head_more_list .item span {
    display: inline-block;
}

.add-group .head_more_list .write-article:before {
    background-image: url(	https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/a0c8073862f04c2925249fd397763fd3.svg);
}

.add-group .head_more_list .issue-points:before {
    background-image: url(https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/e5381c85b5939d984a4b0c0edf102122.svg);
}

.add-group .head_more_list .create-jcode:before {
    background-image: url(	https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/a547852cf8e252e15f59b5a765d77d4b.svg);
}

.add-group .head_more_list .drafts:before {
    background-image: url(https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/6ed78c4e98d68a142e3814b295189480.svg);
}

.add-group .head_more_list .icon:before {
    content: "";
    display: inline-block;
    position: relative;
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    top: 4px;
    margin: 0 12px 0 2px;
}

.add-group .more:hover {
    background-color: #0060dd;
}

.button, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #007fff;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: .5rem 1.3rem;
    outline: none;
    transition: background-color .3s,color .3s;
    cursor: pointer;
}

a, button, input {
    margin: initial;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.unfold12-icon:not(:root) {
    overflow: hidden;
}

.unfold12-icon {
    width: 12px;
    height: 12px;
    fill: none;
}

.add-group .more .unfold12-icon.active {
    transform: rotate(180deg);
}

li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

@media (max-width: 799px){
    .nav-item.creator-item {
        display: none;
    }
}

/*会员设定*/
.vip-entry .header-vip {
    display: flex;
    align-items: center;
}

.vip-entry .vip-img {
    width: 24px;
    height: 24px;
}

.header-vip span {
	color: #86909c;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 4px;
}

/*消息*/
.notification {
    position: relative;
    padding-right: 2rem;
    background-color: #fff;
    display: none;
}

.nav-item a {
    color: #515767;
    position: relative;
}

.notification img {
    width: 24px;
    height: 24px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}
/*登录*/
.nav-item.auth {
    color: #007fff;
    padding: 0 0 0 .833rem;
}

.nav-item:last-child {
    padding-right: 0;
}

@media (max-width: 1149px){
    .nav-item .login-button {
        margin-right: 0;
    }
}

@media (max-width: 960px){
    .vip-entry {
        display: none;
    }
}

@media (max-width: 799px){
    .search-add {
        justify-content: flex-start;
        width: 270px;
        margin-left: 1rem;
    }
}

.nav-item .login-button {
    background: rgba(30,128,255,.05);
    border: 1px solid rgba(30,128,255,.3);
    border-radius: 4px;
    padding: .3rem 1.5rem;
    color: #007fff;
    line-height: 1.9rem;
    font-size: 14px;
    font-weight: 400;
    margin-right: 2rem;
    height: 3rem;
}