body {
    font-size: 12px;
    line-height: normal;
    background-color: rgb(244,245,245);
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

div {
    display: block;
}

.timeline-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.list-header {
    width: 68%;
    height: 100%;
    float: left;
}