.view-nav,
.view-nav:before {
    left: 0;
    background-color: #fff;
}

.view-nav {
    position: fixed;
    top: 5rem;
    width: 100%;
}

.view-nav {
    height: 3.833rem;
    z-index: 100;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    transition: all .2s;
    transform: translateZ(0);
}

.view-nav:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200%;
    z-index: -1;
}

.view-nav .nav-list {
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    line-height: 1;
}

.view-nav:before {
    left: 0;
    background-color: white;
    position: absolute;
    height: 60%;
}

.view-nav .nav-list .nav-item:first-child {
    padding: 0 1rem 0 0;
}

.view-nav .nav-list .nav-item {
    height: 100%;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-size: 1.16rem;
    color: #71777c;
}

.nav-list {
    top: 0;
    right: 0;
    padding: 0 1rem 0 0;
    position: relative;
    color: inherit;
    display: flex;
    /* justify-content: space-between */
    align-items: center;
    line-height: 1
}

.nav-item.active .nav-list:hover .nav-item:hover {
    color: blue;
}

.view-nav .nav-list .nav-item:first-child {
    padding: 0 1rem 0 0
}

.view-nav .nav-list .nav-item:last-child {
    padding: 0 0 0 1rem
}

.nav-item {
    color: inherit;
    position: relative;
    cursor: pointer;
}


.nav-item>a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}



.view-nav .nav-list .nav-item {
    height: 100%;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-size: 1.16rem;
    color: #71777c;
    padding: 0 1rem
}

.view-nav .nav-list .nav-item:first-child {
    padding: 0 1rem 0 0
}

.view-nav .nav-list .nav-item:last-child {
    padding: 0 0 0 1rem
}

.view-nav .nav-list .nav-item.active,
.view-nav .nav-list .nav-item:hover {
    color: #007fff
}

.view-nav .nav-list .nav-item a {
    color: inherit
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item>a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.list-header .nav-list .nav-item.active a,
.list-header .nav-list .nav-item a:hover {
    color: #007fff
}

.list-header .left .nav-item {
    padding: 0 1.2rem;
    font-size: 1.16rem;
    border-right: 1px solid hsla(0, 0%, 59.2%, .2)
}