.view-nav {
    position: fixed;
    top: 5rem;
    width: 100%;
}

.view-nav {
    left: 0;
    background-color: white;
    height: 10;
    align-items: center; 
}

.view-nav .nav-list {
    left: 0;
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    line-height: 1;
}

.view-nav:before {
    left: 0;
    background-color: white;
    position: absolute;
    height: 60%;
}

.nav-list .nav-item {
    display: fiex;
    height: 100%;
    padding: 0 2rem;
    color: #71777c;
    font-size: 1rem;
    align-items: center;
}

.nav-list {
    padding: 0 1rem 0 0;
    color: inherit;
}

.nav-item.active .nav-list:hover {
    color: blue;
}